@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.tabular-nums {
  font-variant-numeric: tabular-nums;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background: rgb(203 213 225 / 0.6);
  border-radius: 999px;
}
*::-webkit-scrollbar-thumb:hover {
  background: rgb(148 163 184 / 0.8);
}
